.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  // background-color: var(--mat-sys-surface-container-lowest);

  .access-denied-message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    // background-color: #ffdddd;
    color: #a94442;
    // padding: 12px 16px;
    margin-bottom: 24px;
    width: 100%;
    max-width: 400px;
  }

  .auth-card {
    width: 100%;
    max-width: 350px;
    padding: 16px;
    border-radius: 12px;
  }

  .full-width {
    width: 100%;
    margin-bottom: 12px;
  }

  .submit-btn {
    width: 200px;
    margin-top: 16px;
    display: block;
    margin: 16px auto 0;
    border-radius: 4px;
  }

  .auth-footer {
    display: flex;
    justify-content: center;
    padding: 16px 0;
  }
}
