.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // background-color: var(--mat-sys-surface-container-lowest);

  .auth-card {
    width: 100%;
    max-width: 400px;
    padding: 16px;
    border-radius: 12px;
  }

  .full-width {
    width: 100%;
    margin-bottom: 12px;
  }

  .submit-btn {
    width: 200px;
    margin-top: 16px;
    display: block;
    margin: 16px auto 0;
    border-radius: 4px;
  }

  .auth-footer {
    display: flex;
    justify-content: center;
    padding: 16px 0;
  }
}
