<div class="details-container">
  @if (!albumDetails() && !artistDetails() && !trackDetails()) {
  <app-loading></app-loading>
  } @if (type() === 'album' && albumDetails(); as album) {
  <header class="hero-section">
    <div class="image-wrapper">
      @if (album.images[0]) {
      <img [src]="album.images[0].url" [alt]="album.title" class="main-img" />
      }
    </div>
    <div class="info-wrapper">
      <span class="type-label">ALBUM</span>
      <h1>{{ album.title }}</h1>

      <div class="action-buttons">
        <button
          (click)="addToLibrary(album.id, 'album', 'love')"
          aria-label="Add to your library of loved album"
          matTooltip="Add to loved albums"
          [class.active-status]="existingItem()?.status === 'love'"
        >
          <mat-icon>{{
            existingItem()?.status === 'love' ? 'favorite' : 'favorite_border'
          }}</mat-icon>
        </button>
        <button
          (click)="addToLibrary(album.id, 'album', 'explore')"
          aria-label="Add to your library of albums you wish to explore"
          matTooltip="Add to albums to explore"
          [class.active-status]="existingItem()?.status === 'explore'"
        >
          <mat-icon>{{
            existingItem()?.status === 'explore' ? 'explore' : 'explore_border'
          }}</mat-icon>
        </button>
        <button
          (click)="addToLibrary(album.id, 'album', 'listened')"
          aria-label="Add to your library of albums you have listened to"
          matTooltip="Add to listened albums"
          [class.active-status]="existingItem()?.status === 'listened'"
        >
          <mat-icon>{{
            existingItem()?.status === 'listened' ? 'check_circle' : 'check_circle'
          }}</mat-icon>
        </button>
      </div>

      <div [routerLink]="['/details', 'artist', album.artists[0].id]" class="artist-link">
        <h2>{{ album.artists[0]?.name }}</h2>
      </div>
      <p class="meta-text">Released {{ album.releaseDate }}</p>
    </div>
  </header>

  <!-- TODO: Other text if recommended already? -->
  <div class="rec-text recommend-link cta-block">
    <p>
      Would you like to recommend this {{ type() }}? Write a review now!
      <a
        [routerLink]="['/recommendations/new', type(), id()]"
        [attr.aria-label]="'Write a recommendation for this ' + type()"
      >
        Let's go!
      </a>
    </p>
  </div>

  <div class="track-list">
    @for (track of (album.tracks?.items || []); track track.id) {
    <div class="track-row" [routerLink]="['/details', 'track', track.id]">
      <p class="track">{{ track.trackNumber }}. {{ track.title }}</p>
      <span class="track-duration">{{ track.durationMs | duration }}</span>
    </div>
    }
  </div>
  } @if (type() === 'artist' && artistDetails(); as artist) {
  <header class="hero-section">
    <div class="image-wrapper">
      @if (artist.images[0]) {
      <img [src]="artist.images[0].url" [alt]="artist.name" class="main-img circle" />
      }
    </div>
    <div class="info-wrapper">
      <span class="type-label">ARTIST</span>
      <h1>{{ artist.name }}</h1>
      <div class="action-buttons">
        <button
          (click)="addToLibrary(artist.id, 'artist', 'love')"
          [class.active-status]="existingItem()?.status === 'love'"
        >
          <mat-icon>{{
            existingItem()?.status === 'love' ? 'favorite' : 'favorite_border'
          }}</mat-icon>
        </button>
        <button
          (click)="addToLibrary(artist.id, 'artist', 'explore')"
          [class.active-status]="existingItem()?.status === 'explore'"
        >
          <mat-icon>{{
            existingItem()?.status === 'explore' ? 'explore' : 'explore_border'
          }}</mat-icon>
        </button>
        <button
          (click)="addToLibrary(artist.id, 'artist', 'listened')"
          [class.active-status]="existingItem()?.status === 'listened'"
        >
          <mat-icon>{{
            existingItem()?.status === 'listened' ? 'check_circle' : 'check_circle'
          }}</mat-icon>
        </button>
      </div>
      @if (artist.followers > 0) {
      <p class="meta-text">
        <strong>{{ artist.followers }}</strong> followers
      </p>
      }
    </div>
  </header>

  <div class="rec-text recommend-link cta-block">
    <p>
      Would you like to recommend this {{ type() }}? Write a review now!
      <a
        [routerLink]="['/recommendations/new', type(), id()]"
        [attr.aria-label]="'Write a recommendation for this ' + type()"
      >
        Let's go!
      </a>
    </p>
  </div>

  <div class="discography-section">
    <h2>Discography</h2>
    <div class="grid-layout">
      @for (album of (artistAlbums() || []); track album.id) {
      <article class="album-card" [routerLink]="['/details', 'album', album.id]">
        <img [src]="album.images[0]?.url" [alt]="album.title" class="discography-img" />
        <div>
          <h3>{{ album.title }}</h3>
          <p>{{ album.releaseDate }}</p>
        </div>
      </article>
      }
    </div>
  </div>
  } @if (type() === 'track' && trackDetails(); as track) {
  <header class="hero-section">
    <div class="image-wrapper">
      <img [src]="track.album?.imageUrl" [alt]="track.album?.title" class="main-img" />
    </div>
    <div class="info-wrapper">
      <span class="type-label">TRACK</span>
      <h1>{{ track.title }}</h1>
      <span class="track-duration">{{ track.durationMs | duration }}</span>
      <div class="action-buttons">
        <button
          (click)="addToLibrary(track.id, 'track', 'love')"
          [class.active-status]="existingItem()?.status === 'love'"
        >
          <mat-icon>{{
            existingItem()?.status === 'love' ? 'favorite' : 'favorite_border'
          }}</mat-icon>
        </button>
        <button
          (click)="addToLibrary(track.id, 'track', 'explore')"
          [class.active-status]="existingItem()?.status === 'explore'"
        >
          <mat-icon>{{
            existingItem()?.status === 'explore' ? 'explore' : 'explore_border'
          }}</mat-icon>
        </button>
        <button
          (click)="addToLibrary(track.id, 'track', 'listened')"
          [class.active-status]="existingItem()?.status === 'listened'"
        >
          <mat-icon>{{
            existingItem()?.status === 'listened' ? 'check_circle' : 'check_circle'
          }}</mat-icon>
        </button>
      </div>
      <p>
        Appears on
        <strong class="meta-link" [routerLink]="['/details', 'album', track.album?.id]">
          "{{ track.album?.title }}"
        </strong>
        by
        <strong class="meta-link" [routerLink]="['/details', 'artist', track.artists[0]?.id]">
          {{ track.artists[0]?.name }}
        </strong>
      </p>
    </div>
  </header>

  <div class="rec-text recommend-link cta-block">
    <p>
      Would you like to recommend this {{ type() }}? Write a review now!
      <a
        [routerLink]="['/recommendations/new', type(), id()]"
        [attr.aria-label]="'Write a recommendation for this ' + type()"
      >
        Let's go!
      </a>
    </p>
  </div>
  }
</div>
