.details-container {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .artist-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    margin: 24px;
  }

  .discography-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}
