.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px; // Move padding to general style level later
}

.logo-link img {
  height: 75px;
  width: auto;
}

.desktop-menu {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  button[mat-flat-button],
  a[mat-button] {
    border-radius: 5px;
  }
}

.mobile-menu {
  display: none;
}

.menu-trigger {
  padding: 8px;
  min-width: unset;
  color: inherit;

  .menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;

    mat-icon {
      font-size: 28px;
      width: 28px;
      height: 28px;
    }

    .menu-text {
      font-size: 10px;
      font-weight: bold;
      margin-top: 2px;
    }
  }
}

@media (max-width: 1024px) {
  .logo-link img {
    height: 55px;
  }
  .header-content {
    height: 80px;
  }
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
    padding-top: 0.5rem;
  }
}

@media (max-width: 480px) {
  .header-content {
    height: 70px;
    .logo-link img {
      height: 40px;
    }
  }
}
