<header class="header-content width-limit">
  <a [routerLink]="['/']" class="logo-link">
    <img src="dm-logo.svg" alt="Depeche Music logo" />
  </a>

  <nav class="desktop-menu">
    <a mat-button class="menu-item" [routerLink]="['/']">Home</a>
    <a mat-button class="menu-item" [routerLink]="['/library']">My Library</a>
    @if (auth.isAuthenticated()) {
    <button mat-stroked-button class="auth-btn" (click)="onLogout()">Log out</button>
    } @else {
    <button mat-stroked-button class="auth-btn" (click)="onLogin()">Log in</button>
    }
  </nav>

  <div class="mobile-menu">
    <button mat-button [matMenuTriggerFor]="mainMenu" class="menu-trigger">
      <div class="menu-content">
        <mat-icon>menu</mat-icon>
        <span class="menu-text">MENY</span>
      </div>
    </button>

    <mat-menu #mainMenu="matMenu">
      <button mat-menu-item [routerLink]="['/']">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item [routerLink]="['/library']">
        <mat-icon>library_music</mat-icon>
        <span>My Library</span>
      </button>
      <mat-divider></mat-divider>
      @if (auth.isAuthenticated()) {
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
      } @else {
      <button mat-menu-item (click)="onLogin()">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      }
    </mat-menu>
  </div>
</header>
