/* Fonts */
// $font-main: ;
// $font-alt: ;

/* Font Sizes */
$fs-sm: 0.875rem; // 14px
$fs-base: 1rem; // 16px
$fs-md: 1.25rem; // 20px
$fs-lg: 2rem; // 32px
$fs-xl: 3rem; // 48px
$fs-xxl: 4rem; // 64px

/* Font Weights */
$fw-reg: 400;
$fw-med: 500;
$fw-bold: 700;

/* Colors */
$bg-primary: #f1f1f1;
$bg-secondary: #d7e1ea;
$color-accent: #b73a1f;
$color-black: #000000;

/* Spacing */
$sp-xs: 0.5rem; // 8px
$sp-sm: 1rem; // 16px
$sp-md: 2rem; // 32px
$sp-lg: 4rem; // 64px

/* Borders */
$border: 4px solid $color-black;
