.library-container {
  .library-header-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 1rem;

    mat-icon {
      color: #e06c53;
    }
  }
  .user-greeting {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 36px;
    // padding: 18px;
    // border: 1px solid rgba(0, 0, 0, 0.06);
    // border-radius: 8px;
    // background: linear-gradient(135deg, #fff, #f9f9f9);
    // box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 600px;

    h2 {
      font-size: 1.2rem;
      letter-spacing: 0.5px;
      margin-bottom: 8px;

      span {
        color: #e06c53;
      }
    }

    p {
      // color: #555;
      line-height: 1.4;
      letter-spacing: 0.3px;
    }

    .icon-legend {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-left: 16px;

      span {
        display: flex;
        align-items: center;
        gap: 8px;

        mat-icon {
          font-size: 20px;
          width: 20px;
          height: 20px;
          color: #e06c53;
        }
      }
    }
  }

  .status-header {
    display: flex;
    font-size: 1.1rem;
    color: #e06c53;
    // color: var(--mat-sys-primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 32px 0;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 8px;

    mat-icon {
      margin-right: 8px;
    }
  }

  mat-action-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
  }

  mat-list-item {
    height: auto !important;
    padding: 0;

    img[matListItemAvatar] {
      width: 56px !important;
      height: 56px !important;
      border-radius: 3px;
      margin-right: 20px !important;
      object-fit: cover;
    }

    [matListItemTitle] {
      font-weight: 600;
      font-size: 1.05rem;
      margin-right: 8px;
    }

    [matListItemLine] {
      color: #777;
    }

    [matListItemMeta] {
      display: flex;
      align-items: center;
    }

    .delete-button {
      mat-icon {
        color: #666;
      }
    }
  }

  mat-divider {
    margin: 4px 0;
    opacity: 0.5;
  }

  .simple-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 24px;
    margin-bottom: 32px;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-4px);
    }

    img {
      width: 100%;
      // max-width: 150px;
      aspect-ratio: 1/1;
      object-fit: cover;
      margin-bottom: 12px;
      border-radius: 3px;

      &.artist-img {
        border-radius: 50%;
      }
    }

    .grid-info {
      display: flex;
      flex-direction: column;
      flex: 1;

      .artist-name {
        font-weight: 700;
        align-self: center;
      }

      .album-title {
        font-weight: 700;
      }

      .album-artist {
        color: #666;
        font-size: 0.85rem;
      }
    }

    button {
      align-self: flex-end;
      margin-top: 4px;
    }
  }

  .empty-state {
    text-align: center;
    padding: 100px 0;
    color: #a7a7a7;

    mat-icon {
      font-size: 64px;
      height: 64px;
      width: 64px;
      margin-bottom: 24px;
      opacity: 0.5;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .empty-category-text {
    color: #757575;
    // padding: 16px 0;
  }
}
