:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

h2 {
  margin: 0;
  font-weight: 600 !important;
  text-transform: uppercase;
}

mat-dialog-actions {
  gap: 8px;
  button[color='warn'] {
    background-color: #c04b32;
    color: white;

    &:hover {
      background-color: darken(#c04b32, 5%);
    }
  }
}
