.search-container {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;

  .status-container,
  .error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
  }

  .error-container {
    color: #f44336;
  }

  .results-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
